APP_ID=your_app_id
APP_SECRET=your_app_secret
APP_CODE=your_app_code
APP_MODE=WAN_APP
SERVER_URL=https://apiglobal.autoxing.com
# WEBSOCKET_URL=wss://apiglobal.autoxing.com
MILEAGE_UNIT=m
PORT=5177
LINE_CHANNEL_ID=your_line_channel_id
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_TO=your_line_group_or_user_id
